/*
Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

### Primary
- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography
### Body Copy
- Font size: 15px

### Fonts
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600
*/
:root {
  --Red-color: hsl(0, 78%, 62%);
  --Cyan-color: hsl(180, 62%, 55%);
  --Orange-color: hsl(34, 97%, 64%);
  --Blue-color: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Dark-blue: #4d4f62;
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --Attribution-color: hsl(228, 45%, 44%);
  --font-weight-200: 200; /*extra light*/
  --font-weight-400: 400; /*normal*/
  --font-weight-600: 600; /*semi-bold*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* .parent-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
    gap: 1rem;
    padding: 1em;
} */
footer {
  color: (var(--White));
  position: relative;
  padding-bottom: 5px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Responsive design for smaller screens */
@media (max-width: 375px) and (max-height: 1360px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
  }
  svg {
    height: 57px;
    width: 57px;
  }

  .parent-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(311px, 1fr)); */
    gap: 1rem;
    padding: 1em;
    grid-template-columns: 1fr;
  }

  .powered-by-tech {
    width: 311px;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .powered-by-tech {
    border: 1px solid red;
  }

  .powered-by-tech h1:first-of-type {
    font-weight: var(--font-weight-200);
    font-size: 24px;
  }

  .powered-by-tech h1:last-of-type {
    font-weight: var(--font-weight-600);
    font-size: 24px;
    margin-block-end: 0.5em;
  }

  .powered-by-tech p {
    line-height: 20px;
  }

  .powered-by-tech h1:first-of-type,
  .powered-by-tech h1:last-of-type,
  .supervisor h1,
  .team-builder h1,
  .karma h1,
  .calculator h1 {
    font-size: 20px;
  }

  .powered-by-tech p,
  .supervisor p,
  .team-builder p,
  .karma p,
  .calculator p {
    font-weight: var(--font-weight-200); /*extra light font*/
  }

  .powered-by-tech,
  .supervisor,
  .team-builder,
  .karma,
  .calculator {
    width: 90%;
    margin: 0 auto;
  }

  .supervisor h1,
  .team-builder h1,
  .karma h1,
  .calculator h1 {
    margin-bottom: 0.5em;
  }

  .supervisor p,
  .team-builder p,
  .karma p,
  .calculator p {
    font-size: 13px;
  }

  .supervisor,
  .team-builder,
  .karma,
  .calculator {
    height: 222px;
    width: 311px;
    position: relative;
    background: var(--White);
    border-radius: 0.5em;
    padding: 1em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: visible;
  }

  .supervisor {
    border-top: 3px solid var(--Cyan-color);
  }

  .team-builder {
    border-top: 3px solid var(--Red-color);
  }

  .karma {
    border-top: 3px solid var(--Orange-color);
  }

  .calculator {
    border-top: 3px solid var(--Blue-color);
  }

  .supervisor svg,
  .team-builder svg,
  .karma svg,
  .calculator svg {
    position: absolute;
    bottom: 2em;
    right: 2em;
    height: 57px;
    width: 57px;
    pointer-events: none;
    overflow: visible;
  }
}
